<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Please Rate your service</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="Lexus" class="logo" />
      <!-- @todo - message -->
      <form action="/submit" method="">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Name of vehicle owner"
          />
        </div>
      </form>
    </div>
  </body>
</html>
